################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/printer/bin
/printer/obj
/Setup/Release
/.vs
/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000
