<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="printer.Properties.Settings.DataConnectionString1" connectionString="Data Source=PC-3;Initial Catalog=PrinterMagic;User ID=sa;Password=shiv" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
